html, body, #map {
    font-family: 'Roboto', Roboto;
    height: 100%;
    width: 100vw;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Roboto;
}

main, header {
    margin: 0 auto;
    width: 90%;
}

header {
    padding-top: 1px;
}

main {
    margin: 0 auto;
    padding-bottom: 1px;
}

h1 {
    text-align: center;
    font-family: 'Roboto', Roboto;
    color: #252525;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

h2, h3 {
    color: #252525;
    font-family: 'Roboto', Roboto;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

p {
    color: #3f454b;
    line-height: 1.8;
    font-family: 'Roboto', Roboto;
}

header h1, header h2 {
    line-height: 1.1;
    font-family: 'Roboto', Roboto;
}

header h2 {
    font-weight: 400;
    font-family: 'Roboto', Roboto;
}

button, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    width: 125px;
    padding: 4px 0;
    border-radius: 4px;
    margin: 0;
    border: none;
    border: 2px solid #666A86;
    background-color: #666A86;
    color: #f3f3f3;
    font-size: 12pt;
    font-family: 'Roboto', Roboto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #f3f3f3;
    border: 2px solid #666A86;
    color: #666A86;
}

select {
    padding: 6px 0;
    padding-left: 6px;
    width: 325px;
    font-size: 10pt;
    font-family: 'Roboto', Roboto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
    cursor: pointer;
    border: none;
    background: url(menu-chevron-down.svg) no-repeat;
    background-position: 90% 10px;
    background-color: #EEEEEE;
    background-size: 12px;
}

legend {
    font-size: 12pt;
    font-family: 'Roboto', Roboto;
    margin-bottom: 12px;
    color: #252525;
}

label {
    font-size: 11pt;
    font-family: 'Roboto', Roboto;
    opacity: 0.55;
    color: #252525;
}

form {
    background-color: white;
    font-family: 'Roboto', Roboto;
    padding: 1px;
    margin: 1px 0;
}

form label {
    display: block;
    font-family: 'Roboto', Roboto;
    margin-bottom: 1px;
}

form button, form select {
    display: inline-block;
}

form select {
    margin-right: 12px;
}

#report {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Roboto;
    font-size: 12pt;
}

#report pre code {
    font-family: 'Roboto', Roboto;
    font-size: 12pt;
}

.shiny-html-output .container-fluid,
.shiny-html-output .main-container {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 972px) {
    main, header {
        width: 100%;
        max-width: 912px;
    }
}